@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.nav-link__svg-active {
  fill: #40C7F7;
  stroke: #40C7F7;
}

.nav-link__text-active {
  color: #40C7F7;
}

.hidden {
  display: none !important;
}

.active {
  border: 0.1rem solid #fff;
}

main {
  min-height: 100vh;
  background: url("/assets/img/sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
}

.navbar {
  background: rgba(255, 255, 255, 0.2);
  width: 10%;
  min-height: 80vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.navbar .nav-logo {
  margin-bottom: 5rem;
  cursor: pointer;
}
.navbar .nav-logo img {
  width: 5rem;
}
.navbar .nav-links {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .nav-links .nav-link__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.navbar .nav-links .nav-link__item svg {
  width: 4.5rem;
  height: 5rem;
  fill: #fff;
  stroke: #fff;
}
.navbar .nav-links .nav-link__item svg g {
  fill: #fff;
}
.navbar .nav-links .nav-link__item .nav-link__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #161A30;
  color: #fff;
}
.navbar .nav-links .nav-link__item:hover .nav-link__text {
  color: #cccccc;
}
.navbar .nav-links .nav-link__item:hover svg {
  fill: #cccccc;
  stroke: #cccccc;
}
.navbar .nav-links .nav-link__item:hover svg g {
  fill: #cccccc;
}

.current-weather-container {
  width: 60%;
  margin-left: 2rem;
  /************ Current weather info ***********/
  /*********** Today's forecast ***********/
  /********** Air conditions ***********/
}
.current-weather-container input {
  width: 100%;
  height: 4rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.8rem;
  font-weight: 500;
  color: #161A30;
  color: #cccccc;
}
.current-weather-container input:focus {
  outline: none;
}
.current-weather-container input::placeholder {
  color: #cccccc;
}
.current-weather-container .current-weather-info {
  display: flex;
  justify-content: space-between;
}
.current-weather-container .current-weather-info .current-weather-info__text {
  padding: 4rem;
}
.current-weather-container .current-weather-info .current-weather-info__text .city-name {
  font-size: 3.8rem;
  font-weight: 600;
  color: #fff;
}
.current-weather-container .current-weather-info .current-weather-info__text span p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #cccccc;
  padding: 1.5rem 0;
}
.current-weather-container .current-weather-info .current-weather-info__text .current-temp {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
  font-size: 6rem;
  padding: 2rem 0;
}
.current-weather-container .current-weather-info .current-weather-info__icon {
  width: 25rem;
}
.current-weather-container .day-forecast {
  min-height: 25vh;
  border-radius: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.2);
}
.current-weather-container .day-forecast .day-forecast__text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  padding: 2rem;
}
.current-weather-container .day-forecast .day-forecast__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
}
.current-weather-container .day-forecast .day-forecast__data {
  text-align: center;
  padding-right: 0 2rem;
  width: 16.7%;
}
.current-weather-container .day-forecast .day-forecast__data:not(:last-child) {
  border-right: 1px solid #fff;
}
.current-weather-container .day-forecast .day-forecast__data .day-forecast__time {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
.current-weather-container .day-forecast .day-forecast__data .day-forecast__icon {
  width: 5rem;
}
.current-weather-container .day-forecast .day-forecast__data .day-forecast__temp {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}
.current-weather-container .air-conditions {
  min-height: 25vh;
  border-radius: 2rem;
  padding: 2.5rem 2rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.current-weather-container .air-conditions .air-conditions__text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
.current-weather-container .air-conditions .air-conditions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.current-weather-container .air-conditions .air-conditions__data .reel-feel__info-box, .current-weather-container .air-conditions .air-conditions__data .chance-of-rain__info-box,
.current-weather-container .air-conditions .air-conditions__data .wind-speed__info-box, .current-weather-container .air-conditions .air-conditions__data .uv-index__info-box {
  display: flex;
  align-items: center;
}
.current-weather-container .air-conditions .air-conditions__data .thermometer__icon, .current-weather-container .air-conditions .air-conditions__data .rain__icon,
.current-weather-container .air-conditions .air-conditions__data .wind-speed__icon, .current-weather-container .air-conditions .air-conditions__data .uv__icon {
  width: 5rem;
}
.current-weather-container .air-conditions .air-conditions__data .reel-feel__text, .current-weather-container .air-conditions .air-conditions__data .rain__text,
.current-weather-container .air-conditions .air-conditions__data .wind-text, .current-weather-container .air-conditions .air-conditions__data .uv-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
.current-weather-container .air-conditions .air-conditions__data .reel-feel__value, .current-weather-container .air-conditions .air-conditions__data .rain__percentage,
.current-weather-container .air-conditions .air-conditions__data .wind-speed__value, .current-weather-container .air-conditions .air-conditions__data .uv-index__value {
  padding-left: 5rem;
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}

/*********** 7-Day-Forecast ***********/
.column {
  width: 30%;
  margin-left: 2rem;
}
.column .white-space {
  padding: 4rem 0;
}

.future-forecast {
  border-radius: 2rem;
  padding: 2.3rem 0;
  background: rgba(255, 255, 255, 0.2);
}
.future-forecast .future-forecast__text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 2rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
.future-forecast .future-forecast__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5rem;
}
.future-forecast .future-forecast__container .future-forecast__data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.future-forecast .future-forecast__container .future-forecast__day {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
  font-size: 2.2rem;
  width: 10%;
}
.future-forecast .future-forecast__container .future-forecast__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.future-forecast .future-forecast__container .future-forecast__info .future-forecast__icon {
  width: 5rem;
}
.future-forecast .future-forecast__container .future-forecast__temp,
.future-forecast .future-forecast__container .future-forecast__condition {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  font-size: 2.3rem;
}

/*********** Cities ***********/
.city-list {
  margin-top: 2rem;
  overflow-y: auto;
  max-height: 80%;
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: blue orange;
  /* scroll thumb and track */
}
.city-list::-webkit-scrollbar {
  width: 1rem;
  /* width of the entire scrollbar */
}
.city-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  /* color of the tracking area */
}
.city-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  /* color of the scroll thumb */
  border-radius: 2rem;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.city-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, 0.2);
}
.city-list__item:not(:first-child) {
  margin-top: 2rem;
}
.city-list__item .city-weather__data {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.city-list__item .city-weather__data .city-weather__icon {
  width: 10rem;
}
.city-list__item .city-weather__data span .city-name {
  font-size: 3.8rem;
  font-weight: 600;
  color: #fff;
}
.city-list__item .city-weather__data span .cur-time {
  font-size: 1.8rem;
  font-weight: 400;
  color: #e6e6e6;
  font-size: 2.2rem;
}
.city-list__item .city-weather__temp {
  font-size: 3.8rem;
  font-weight: 400;
  color: #fff;
}