@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// /* Works on Firefox */
// * {
//   scrollbar-width: thin;
//   scrollbar-color: blue orange;
// }

// /* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }

// *::-webkit-scrollbar-track {
//   background: orange;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: blue;
//   border-radius: 20px;
//   border: 3px solid orange;
// }

html{
  font-size: 62.5%;
}


body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  // overflow: hidden;
  // background: url('/assets/img/night.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
}

// Colors
$primary: #40C7F7;
$gray: #9399A2;
$dark: #161A30;
$sky: #1B6499;
$white: #fff;


// fonts
@mixin font-lg($weight, $color: $dark){
  font-size: 4.8rem;
  font-weight: $weight;
  color: $color;
}
@mixin font-md($weight, $color: $dark){
  font-size: 3.8rem;
  font-weight: $weight;
  color: $color;
}
@mixin font-sm($weight, $color: $dark){
  font-size: 2.8rem;
  font-weight: $weight;
  color: $color;
}
@mixin font-xsm($weight, $color: $dark){
  font-size: 1.8rem;
  font-weight: $weight;
  color: $color;
}

@mixin background($color: $white, $alpha: 0.2){
  background: rgba($color, $alpha);
}

@mixin svg-hover($color: darken($white, 20)){
  g {
      fill: $color;
    }
  
    fill: $color;
    stroke: $color;
}

.nav-link__svg-active{
  fill: $primary;
  stroke: $primary;
}

.nav-link__text-active{
  color: $primary;
}

.hidden{
  display: none !important;
}

.visible{
  opacity: 1;
  display: block;
}

.active{
  border: 0.1rem solid $white;
}

.hover{
  box-shadow: 1rem 1rem 0.5rem 1rem $white;
}

.bg{
  @include background();
}

// p{
//   @include font-lg(600)
// }
// div{
//   @include font-md(600)
// }
// span{
//   @include font-sm(600)
// }
// nav{
//   @include font-xsm(600)
//}