main{
  min-height: 100vh;
  background: url('/assets/img/day.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
}

.navbar{
  @include background();
  width: 10%;
  min-height: 80vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  .nav-logo{
    margin-bottom: 5rem;
    cursor: pointer;
    
    img{
      width: 5rem;
    }
  }

  .nav-links{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav-link__item{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      // height: 10rem;

     svg{
      width: 4.5rem;
      height: 5rem;
      fill: $white;
      stroke: $white;
      g {
          fill: $white;
        }
     }

     .nav-link__text{
      @include font-xsm(400);
      color: $white;
     }

     &:hover .nav-link__text{
      color: darken($white, 20);
     }
     &:hover svg{
      @include svg-hover()
     }

    }
  }
}

.current-weather-container{
  width: 60%;
  margin-left: 2rem;
  // overflow-y: scroll;

  // Input field
  input{
    width: 100%;
    height: 4rem;
    border-radius: 0.7rem;
    border: none;
    padding: 0 1rem;
    @include background();
    @include font-xsm(500);
    color: $white;
    // outline: none;

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: darken($white, 15);
    }
  }

  /************ Current weather info ***********/
  .current-weather-info{
    // width: 100%;
    display: flex;
    justify-content: space-between;

    .current-weather-info__text{
      padding: 4rem;
      .city-name{
        @include font-md(600, $color: $white);
      }
      span p{
        @include font-xsm(400, $color: darken($white, 20));
        padding: 1.5rem 0;

      }
      .current-temp{
        @include font-lg(700, $color: $white);
        font-size: 6rem;
        padding: 2rem 0;
      }
    }

    .current-weather-info__icon{
      width: 25rem;
    }
  }

  /*********** Today's forecast ***********/
  .day-forecast{
    min-height: 25vh;
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    @include background();

    .day-forecast__text{
      text-transform: uppercase;
      letter-spacing: .2rem;
      @include font-xsm(500, $color: $white);
      padding: 2rem;
    }

    .day-forecast__container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 2rem;
    }

    .day-forecast__data{
      text-align: center;
      padding-right: 0 2rem;
      width: 16.7%;
      
      &:not(:last-child){
        border-right: 1px solid $white;
      }

      .day-forecast__time{
        @include font-xsm(400, $color: $white)
      }

      .day-forecast__icon{
        width: 5rem;
      }

      .day-forecast__temp{
        @include font-sm(600, $color: $white);
      }
      
    }
  }

  /********** Air conditions ***********/
  .air-conditions{
    min-height: 25vh;
    border-radius: 2rem;
    padding: 2.5rem 2rem;
    width: 100%;
    // margin-top: 1.5rem;
    @include background();

    .air-conditions__text {
      text-transform: uppercase;
      letter-spacing: .2rem;
      padding: 1rem 2rem;
      @include font-xsm(500, $color: $white);
    }
    
    .air-conditions__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0 2rem;
      width: 90%;
      margin: 0 auto;
    }

    .air-conditions__data{
      .reel-feel__info-box, .chance-of-rain__info-box,
      .wind-speed__info-box, .uv-index__info-box{
        display: flex;
        align-items: center;
        // width: 100%;
      }

      .thermometer__icon, .rain__icon,
      .wind-speed__icon, .uv__icon{
        width: 5rem;
      }

      .reel-feel__text, .rain__text,
      .wind-text, .uv-text{
        @include font-xsm(500, $color: $white);
      }

      .reel-feel__value, .rain__percentage,
      .wind-speed__value, .uv-index__value{
        padding-left: 5rem;
        @include font-sm(600, $color: $white);
      }
    }
  }
}

/*********** 7-Day-Forecast ***********/
.column{
  width: 30%;
  margin-left: 2rem;
  .white-space{
    padding: 5rem 0;
  }
}

.future-forecast {
  border-radius: 2rem;
  // padding-bottom: 2.3rem;
  height: 80vh;
  // @include background();

  .future-forecast__text {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 2.5rem 2.5rem;
    @include font-xsm(500, $color: $white);
  }

  .future-forecast__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;

    .future-forecast__data {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .future-forecast__day {
      @include font-xsm(300, $color: $white);
      font-size: 2.2rem;
      width: 10%;
    }

    .future-forecast__info {
      // width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      // text-align: center;

      .future-forecast__icon {
        width: 5rem;
      }
    }

    .future-forecast__temp,
    .future-forecast__condition {
      @include font-xsm(500, $color: $white);
      font-size: 2.3rem;
    }
  }
  // City weather info // might be a seperate component in future
  .city-forecast-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem 2rem;
    
    .city-weather-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 3rem;
        width: 100%;
        // margin-bottom: 2rem;
        // height: 30%;
    
        .city-weather-info__text {
          .city-name {
            @include font-md(600, $color: $white);
          }
    
          span p {
            font-size: 1.5rem;
            font-weight: 300;
            color: darken($white, 20);
            padding: 0.5rem 0;
          }
    
          .current-temp {
            @include font-md(600, $white);
            margin-top: 3rem;
          }
        }
    
        .city-weather-info__icon {
          width: 10rem;
        }
      }
    
      // city day (Today's) forecast
      .city-day-forecast {
        width: 100%;
    
        // margin-bottom: 2rem;
    
        .city-day-forecast__text {
          text-transform: uppercase;
          letter-spacing: .1rem;
          @include font-xsm(500, $color: $white);
          padding: 2rem 0;
        }
    
        .city-day-forecast__container {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          // margin: 0 auto;
          // padding: 0 2rem;
        }
    
        .city-day-forecast__data {
          text-align: center;
          padding: 0 2rem;
          width: 35%;
    
          &:not(:last-child) {
            border-right: 1px solid $white;
          }
    
          .city-day-forecast__time {
            @include font-xsm(400, $color: $white);
            font-size: 1.5rem;
            width: 100%;
          }
    
          .city-day-forecast__icon {
            width: 5rem;
          }
    
          .city-day-forecast__temp {
            @include font-sm(600, $color: $white);
          }
    
        }
      }

      // city future (3-DAY) Forecast
      .city-future-forecast{
        .city-future-forecast__text {
            text-transform: uppercase;
            letter-spacing: .1rem;
            padding: 2rem 0;
            @include font-xsm(500, $color: $white);
          }
        
          .city-future-forecast__container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 3rem;
        
            .city-future-forecast__data {
              display: flex;
              justify-content: space-around;
              align-items: center;
            }
        
            .city-future-forecast__day {
              @include font-xsm(300, $color: $white);
              font-size: 2rem;
              // width: 10%;
            }
        
            .city-future-forecast__info {
              // width: 35%;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              // text-align: center;
        
              .city-future-forecast__icon {
                width: 5rem;
              }
            }
        
            .city-future-forecast__temp,
            .city-future-forecast__condition {
              @include font-xsm(500, $color: $white);
              font-size: 2.3rem;
            }
          }
      }
  }
}

/*********** Cities ***********/
.city-list{
  margin-top: 2rem;
  overflow-y: auto;
  max-height: 80%;
  // padding-right: 2rem;
  scrollbar-width: thin;
      /* "auto" or "thin" */
  scrollbar-color: blue orange;
      /* scroll thumb and track */

  &::-webkit-scrollbar {
    width: 1rem;
    /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    // margin-left: 2rem;
    @include background($color: $sky, $alpha: 0.3);
    /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    @include background($alpha: 0.5);
    /* color of the scroll thumb */
    border-radius: 2rem;
    /* roundness of the scroll thumb */
    // border: 1rem solid rgba($white, 0.2);
    /* creates padding around scroll thumb */
  }
}
.city-list__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: all .1s ease-in;
  @include background();
  &:not(:first-child) {
      margin-top: 2rem;
    }
  &:hover{
    // box-shadow: 0 0.1rem 0.1rem 0.1rem $white;
    transform: translateY(-.3rem);
  }

  .city-weather__data{
    // width: 50%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .city-weather__icon{
      width: 10rem;
    }

    span{
      .city-name{
        @include font-md(600, $white);
      }
      .cur-time{
        @include font-xsm(400, darken($white, 10));
        font-size: 2.2rem;
      }
    }
  }

  .city-weather__temp{
    @include font-md(400, $white);
  }
}