main{
  min-height: 100vh;
  background: url('/assets/img/day.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
}

.navbar{
  width: 10%;
  // height: 91vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  @include background();

  .nav-logo{
    margin-bottom: 10rem;
    cursor: pointer;

    img{
      width: 5rem;
    }
  }

  .nav-toggler{
    display: none;
  }

  .nav-links{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav-link__item{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      // height: 10rem;

     svg{
      width: 4.5rem;
      height: 5rem;
      fill: $white;
      stroke: $white;
      g {
          fill: $white;
        }
     }

     .nav-link__text{
      @include font-xsm(400);
      color: $white;
     }

     &:hover .nav-link__text{
      color: darken($white, 20);
     }
     &:hover svg{
      @include svg-hover()
     }

    }
  }
}

.main-container{
  width: 60%;
  margin-left: 2rem;
  position: relative;
  // overflow-y: scroll;

  // Input field
  input{
    width: 100%;
    height: 4rem;
    border-radius: 0.7rem;
    border: none;
    padding: 0 1rem;
    @include background();
    @include font-xsm(500);
    color: $white;
    // outline: none;

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: darken($white, 15);
    }
  }

  .loading{
    position: absolute;
    width: 100%;
    // height: 50%;
    display: flex;
    justify-content: center;
    // @include background();
    .spinner {
      // position: absolute;    
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: .4rem solid rgba($white, 0.2);
      border-top: .4rem solid $white;
      margin-top: 18%;
      animation: spin 1s linear infinite;
    }
  }

  .autocomplete-container{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    @include background();
  }
  /************ Current weather info ***********/
  .current-weather-info{
    // width: 100%;
    display: flex;
    justify-content: space-between;

    .current-weather-info__text{
      padding: 4rem;
      .city-name{
        @include font-md(600, $color: $white);
      }
      span p{
        @include font-xsm(400, $color: darken($white, 20));
        padding: 1.5rem 0;

      }
      .current-temp{
        @include font-lg(700, $color: $white);
        font-size: 6rem;
        padding: 2rem 0;
      }
    }
    .current-weather-info__icon-1 {
      display: none;
      width: 25rem;
    }
    .current-weather-info__icon{
      width: 25rem;
    }
  }

  /*********** Today's forecast ***********/
  .day-forecast{
    min-height: 25vh;
    border-radius: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    @include background();

    .day-forecast__text{
      text-transform: uppercase;
      letter-spacing: .2rem;
      @include font-xsm(500, $color: $white);
      padding: 2rem;
    }

    .day-forecast__container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 2rem;
    }

    .day-forecast__data{
      text-align: center;
      padding-right: 0 2rem;
      width: 16.7%;
      
      &:not(:last-child){
        border-right: 1px solid $white;
      }

      .day-forecast__time{
        @include font-xsm(400, $color: $white)
      }

      .day-forecast__icon{
        width: 5rem;
      }

      .day-forecast__temp{
        @include font-sm(600, $color: $white);
      }
      
    }
  }

  /********** Air conditions ***********/
  .air-conditions{
    // min-height: 25vh;
    border-radius: 2rem;
    padding: 3.8rem 2rem;
    width: 100%;
    // margin-top: 1.5rem;
    @include background();

    .air-conditions__text {
      text-transform: uppercase;
      letter-spacing: .2rem;
      padding: 1rem 2rem;
      @include font-xsm(500, $color: $white);
    }
    
    .air-conditions__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0 2rem;
      width: 90%;
      margin: 0 auto;
    }

    .air-conditions__data{
      .reel-feel__info-box, .chance-of-rain__info-box,
      .wind-speed__info-box, .uv-index__info-box{
        display: flex;
        align-items: center;
        // width: 100%;
      }

      .thermometer__icon, .rain__icon,
      .wind-speed__icon, .uv__icon{
        width: 5rem;
      }

      .reel-feel__text, .rain__text,
      .wind-text, .uv-text{
        @include font-xsm(500, $color: $white);
      }

      .reel-feel__value, .rain__percentage,
      .wind-speed__value, .uv-index__value{
        padding-left: 5rem;
        @include font-sm(600, $color: $white);
      }
    }
  }
}

/*********** 7-Day-Forecast ***********/
.column{
  width: 30%;
  margin-left: 2rem;
  // transition: all 2s ease-in;
  .white-space{
    padding: 5rem 0;
  }
}

.future-forecast {
  border-radius: 2rem;
  padding-bottom: 3rem;
  // transition: all 2s ease-in;
  // min-height: 80vh;
  // @include background();

  .future-forecast__text {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 2.5rem 2.5rem;
    @include font-xsm(500, $color: $white);
  }

  .future-forecast__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;

    .future-forecast__data {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .future-forecast__day {
      @include font-xsm(300, $color: $white);
      font-size: 2.2rem;
      width: 10%;
    }

    .future-forecast__info {
      // width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      // text-align: center;

      .future-forecast__icon {
        width: 5rem;
      }
    }

    .future-forecast__temp,
    .future-forecast__condition {
      @include font-xsm(500, $color: $white);
      font-size: 2.3rem;
    }
  }
}

.msg-box{
  position: absolute;
  right: 4%;
  width: 25%;
  height: 7rem;
  border-radius: 1.5rem;
  text-align: center;
  @include background();
  animation: moveInRight .5s ease-in;

  .msg-head{
    padding: 1rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    @include font-xsm(500, red);
    font-size: 1.5rem;
  }

  .msg{
    padding: 0 2rem;
    font-size: 1.7rem;
    color: rgb(182, 4, 93);
    width: auto;
  }
}

/*********************Animation***********************/
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 @keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  // 80%{
  //   opacity: 1;
  //   transform: translateX(-5rem);
  // }

  100%{
    opacity: 1;
    transform: translate(0);
  }
 }